HOSTNAME=eirini-dev.flintstone.ams

set +e
grep --quiet $HOSTNAME /etc/hosts
HOST_FOUND=$?
set -e
if [ $HOST_FOUND -eq 0 ]; then
  set +e
  grep $HOSTNAME /etc/hosts | grep --quiet $(cat ip)
  CORRECT_IP=$?
  set -e
  if [ $CORRECT_IP -ne 0 ]; then
    echo "Please make sure /etc/hosts contains:"
    echo "$(cat ip) $HOSTNAME"
    exit 1
  fi
fi

unset BOSH_ALL_PROXY

echo "Please make sure the host $HOSTNAME is reachable"
bosh alias-env "eirini-dev" \
  --environment "https://eirini-dev.softlayer.com:25555/" \
  --ca-cert "-----BEGIN CERTIFICATE-----
MIIDFDCCAfygAwIBAgIRAN9ygnKao5VnFOeV4CZPmYQwDQYJKoZIhvcNAQELBQAw
MzEMMAoGA1UEBhMDVVNBMRYwFAYDVQQKEw1DbG91ZCBGb3VuZHJ5MQswCQYDVQQD
EwJjYTAeFw0xODA1MTYwODQ2MzJaFw0xOTA1MTYwODQ2MzJaMDMxDDAKBgNVBAYT
A1VTQTEWMBQGA1UEChMNQ2xvdWQgRm91bmRyeTELMAkGA1UEAxMCY2EwggEiMA0G
CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCij8cn/7uiG3dFLiu0j6kafAi2fiBz
TLFI8WZscYHAU7ZH8UmiPcEhjVf8R3G5wpuYQSb3BbRYeFPY5dFyEJkKFY9pBbJe
1L+4FmzdAVYUIJd3XrHnXhcOkYkYmHnJzp2KsyElQy2UKlebzVW9YPDOA2CU8qJB
QQyYKGJKqE/JYy4458BLfN2h6F4W2eTotPl+zuxE8HyfK3IZ/fMc9BEJmJ5RYVbM
QK9lqKGAS0p25gVruNUc6vqxThCad87cDO6Na7ncy7JsRiLZI31adS0Zf+u5+VQ3
w36iQ0jqk6NbG1jXoBi+SK8CSAZuS7B1FukrxV8eh6/EiIY0u//MY8hRAgMBAAGj
IzAhMA4GA1UdDwEB/wQEAwIBBjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEB
CwUAA4IBAQBkb7svX5Qj6BtIK/6RVvtjL71ITExZ9Wc9RWb++vk5sCAqEpkWdPLS
RL6obtiRPLypu0wqig2AfnLrIMVYpPGOo52Ze++hy7HwFoEKQscyunzYlOLBzWmG
ezhbkC+nLzXrhoTG2TwKcP77R2uVA3FXxGdD7moHI6X+2XkvZ5BcbW2oGu1hh9PT
aqRWqP8Du1+dtwuJGHGGgTCEduvBvMoYnJZQiAdEwF9Vgy6mj+CC4ZlhUJC75xAY
8i14700OphYGrdqQ8PK1oMlN8uBbhrTMyQ7waPcc6ge9glsf4RQyDkxgEXoHGk3z
XhNeF+S9huvaanYx67eWVUc6enQJvctx
-----END CERTIFICATE-----"

export BOSH_ENVIRONMENT=eirini-dev

bosh login \
  --environment "eirini-dev" \
  --client=admin \
  --client-secret "dk3rjewq8q6iptyc356e"

chmod 600 jumpbox.key

PORT=$(jot -r 1 2000 65000)

SSH_PID=$(ps ax | grep "[j]umpbox@$HOSTNAME -i jumpbox.key" | cut -d ' ' -f 1)
if [ -n "$SSH_PID" ]; then
  kill -9 $SSH_PID
  sleep 1
fi

ssh-keygen -q -R "$HOSTNAME" > /dev/null
ssh-keygen -q -R $(cat ip) > /dev/null
ssh-keyscan -H "$HOSTNAME" >> ~/.ssh/known_hosts 2> /dev/null

ssh -4 -D $PORT -fNC jumpbox@$HOSTNAME -i jumpbox.key
export BOSH_ALL_PROXY=socks5://localhost:$PORT
