HOSTNAME=eirini-dev.flintstone.ams

set +e
grep --quiet $HOSTNAME /etc/hosts
HOST_FOUND=$?
set -e
if [ $HOST_FOUND -eq 0 ]; then
  set +e
  grep $HOSTNAME /etc/hosts | grep --quiet $(cat ip)
  CORRECT_IP=$?
  set -e
  if [ $CORRECT_IP -ne 0 ]; then
    echo "Please make sure /etc/hosts contains:"
    echo "$(cat ip) $HOSTNAME"
    exit 1
  fi
fi

unset BOSH_ALL_PROXY

echo "Please make sure the host $HOSTNAME is reachable"
bosh alias-env "eirini-dev" \
  --environment "https://eirini-dev.softlayer.com:25555/" \
  --ca-cert "-----BEGIN CERTIFICATE-----
MIIDEzCCAfugAwIBAgIQVsoyT8PcuRfj+AdL9lRLnjANBgkqhkiG9w0BAQsFADAz
MQwwCgYDVQQGEwNVU0ExFjAUBgNVBAoTDUNsb3VkIEZvdW5kcnkxCzAJBgNVBAMT
AmNhMB4XDTE4MDUxMTEyMjczM1oXDTE5MDUxMTEyMjczM1owMzEMMAoGA1UEBhMD
VVNBMRYwFAYDVQQKEw1DbG91ZCBGb3VuZHJ5MQswCQYDVQQDEwJjYTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAKUOu9ugORjj3eNU6/s81o/QzbLiQqIQ
0ODIgFjUrfoXS5vqwEaUKJKTQxBmj/1lCDjPo7zGOzQU3xVQSsb33tjSkBfQMMYQ
qu3HHVDiaJZEZ9Rfz6vha3MlLUP4XsxMR4DRF2TIlkr1a6oIt1LB5MHzdRLnxqW2
uSDGaUlnw9ru92fKuUn6j0/iJQ+pRCyJtuumVpyYT/uVkWX/iuKkKDKh5I1jKsg2
CHGdq7EPlT4q15lxYPiQR38JTGiExLmhRjdnm60lo2nZ9Gc1QNoSscbdOOFNNZJv
RKipiYjuoGg9QtIKOEw61jvqsGmkUxsdtww7bbQio3VXXFUIMiqtvxkCAwEAAaMj
MCEwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQEL
BQADggEBAD5/K9lDURg7BrJeSjSpvtRJ6pcmJq4BvXDLsEouPu0wVjfI4/Umyjyk
CLTPHoZnWgD7Unzpjc1xv7stOlrAGCqB5rnbpv9g67rWDxfWMAHkV7Ak6G25CxBx
1x+8t3ENGh5UBHluoJifdpE9w2LgrH7AsQeSN6eQpKFm3MJiMOWEs551UrPZyAS0
mTO+fVWixjLy3iV9h3Nxg412wob0iZrkq6MkwFwvpQTwBsmDo6C8h6dWbJiNoPNb
5cZm/9XW5KtjXCfcrit1RKnY0gbQDou6bXw128UfMHD4jW+GLDVxEpubD4jlCtmn
a19cYjspbFWrzrwwX2z093D+nGRVfHU=
-----END CERTIFICATE-----"

export BOSH_ENVIRONMENT=eirini-dev

bosh login \
  --environment "eirini-dev" \
  --client=admin \
  --client-secret "ba6bi7e1p0if6ccwjlt6"

chmod 600 jumpbox.key

PORT=$(jot -r 1 2000 65000)

SSH_PID=$(ps ax | grep "[j]umpbox@$HOSTNAME -i jumpbox.key" | cut -d ' ' -f 1)
if [ -n "$SSH_PID" ]; then
  kill -9 $SSH_PID
  sleep 1
fi

ssh-keygen -q -R "$HOSTNAME" > /dev/null
ssh-keygen -q -R $(cat ip) > /dev/null
ssh-keyscan -H "$HOSTNAME" >> ~/.ssh/known_hosts 2> /dev/null

ssh -4 -D $PORT -fNC jumpbox@$HOSTNAME -i jumpbox.key
export BOSH_ALL_PROXY=socks5://localhost:$PORT
